*{
    box-sizing: border-box;
}
.tetris-grid-item{
    width:30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display:inline-block;
    vertical-align: middle;

}
#tetris-grid{
    width: 300px;
    height: 600px;
    margin: 100px auto;
    background-color:#D4EFDF  
}
.tetris-grid-item.filled{
background: #196F3D ;
}
#start-button{
    width: 200px;
    height: 60px;
    margin: 10px auto;
    text-align: center;
    font-size: 24px;
    line-height: 48px;
    cursor: pointer;
    background: #1E8449 ;
    color: #fff;
}
.taken{
   border: none;
}
#score{
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
}
#user {
    text-align: center;
    font-size: 24px;
}
#highest-scores{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 200px;
    padding:10px;
    height: 60px;
    background: #1E8449 ;
}